body{
    font-family:sans-serif;
    color:cadetblue;
}

header{
    margin: 20px;
    color: black;
}

header:not(h1){
    font-size: 30px;
}

section{
    margin: 20px;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

input{
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

input[type="submit"]{
    padding: 5px;
}